#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.buttons {
    display: flex;
    flex-direction: column;
}

.operators {
    display: flex;
    flex-direction: column;
}